/* ¹ö¶¯²Û */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0,0,0,0.06);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,s0.08);
}

/* ¹ö¶¯Ìõ»¬¿é */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0,0,0,0.7);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-corner {
	border-radius: 3px;
    background: rgba(0,0,0,0.7);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0);
}